#AboutMe{
  h1{
    font-size:45px;
  }
  .me{
    width: 100%;
    border: 4px solid rgb(29, 134, 220);
    // border: 4px solid rgb(28, 119, 175).;
  }
  h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
  }
  .v-table{
    background-color:rgba(255, 245, 238, 0);
    
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }
  .text{
    
    // background-color: white;
    // border: 4px solid rgb(28, 119, 175);
    border: 4px solid rgb(29, 134, 220);
  background-color: azure;
  // margin-bottom:5px ;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}
.gifbox{
  text-align: center;
}
.gif{
  width: 60%;
  border: 5px orange solid;
}

.aboutme-resume{
  text-align: center;
}

.aboutme-resume img {
  background-color: antiquewhite;
  border-radius: 50%;
  width: 80px;
}
// p{
//   font-size: 20px;
//   font-weight: bold;
//   font-style: italic;
// }
@include sm{
  h2{
    // font-size: 20px;
  }
  .text{

    // font-size: 20px;
  }
}
@include md{
  .aboutme-resume img{
    width: 80px;
  }
}
}