#LearningProcess{
  
  ul,summary
  {
    list-style: none;
  }


  // 整體卡片
  .card-box{
    width: 80%;
    margin: auto;
  }

  //卡片排版
  .card-box>div {
    text-align: center;
    /* width: 500px; */
    /* height: 200px; */
    border: 1px solid black;
    margin-bottom: 10%;
  }

  //卡片區域背景圖片
  .sm-pic details:nth-child(1){
background-color: coral;
  }
  .sm-pic details:nth-child(2){
background-color: rgb(80, 176, 255);
  }
  .sm-pic details:nth-child(3){
background-color: rgb(80, 255, 103);
  }

  // sm圖片大小
  summary img{
    width: 60%;
    // height: auto;
  }
  
  // summary捲動軸內層圖片

  .sm-grab-img {
    padding-bottom: 20px;
  }
  
  .sm-grab-img img {
    border-radius: 20%;
    width: 50%;
  }

  // 圖片大小 sm以上


  .pic{
    position: relative;
  }

  .pic img{
    height: 120px;
    width: 110px;
  }
  
  
  
  // hover捲動軸
  
  .inside-box-ul {
    display: none;
    
    position: absolute;
    background-color: white;
  }
  
  .inside-box-ul li{
    border: 2px solid rgb(221, 174, 17);

  }

.pic:hover .inside-box-ul {
  z-index: 1;
  display: block;
}

@include sm{
  // sm圖片大小
  details{
    width: 33%;
  }


  }


@include lg{
    // 整體卡片
    .main-box{
      width: 100%;
      margin: auto;
    }
    .card-box{
      // width: 40%;
      width: auto;
    }

  .card-box>div {
    text-align: center;
    /* width: 500px; */
    /* height: 200px; */
    border: 1px solid black;
    background-image: url('../assets/Tree.png');
    background-size: contain;
    padding-left: 80px;
  }

}
@include xl{
  .card-box{
    width: 45% !important;
    width: auto;
  }
}
}