#MyExperience{
  
  ul,summary
  {
    list-style: none;
  }

  .date{
   border-bottom: 2px solid black;
  }

  // 整體卡片
  .card-box{
    width: 80%;
    margin: auto;
  }

  //卡片排版
  .card-box>div {
    text-align: center;
    /* width: 500px; */
    /* height: 200px; */
    border: 2px solid black;
    margin-bottom: 10%;



  }

  .card-box .date{
    background-color: rgb(143, 215, 26);
  }



//child(1)圖片區塊 child(2)文字
  .sm-pic div:nth-child(1){
    padding-top: 15px;
    background-color: rgb(227, 131, 62);
    flex: 2;
  }
  .sm-pic div:nth-child(2){
    flex: 3;
    background-color: azure;
    font-size: 20px;
    // text-align: left;
  }

.sm-pic img{
  width: 60px;
}

  
  // 圖片大小 sm以上


  .pic{
    position: relative;
  }

  .pic img{
    // height: 120px;
  }
  
@include sm{
  .sm-pic div:nth-child(2){
    text-align: left;
  }
}

@include md{
  .sm-pic div:nth-child(2){
font-size:15px;
  }
}

@include lg{
    // 整體卡片
    .main-box{
      // width: 100%;
      // margin: auto;
    }
    .card-box{
      // width: 40%;
      // width: auto;
      // border: 1px solid saddlebrown;
    }
    .sm-pic div:nth-child(1){
  height: 120px;
    }  
    
    img{
      // width: 100px;
      // height: 80px
    }

  .card-box>div {
    // text-align: center;
    /* width: 500px; */
    /* height: 200px; */
    // border: 1px solid black;
    // height: 130px;
    // background-image: url('../assets/Tree.png');
    // background-size: contain;
    // padding-left: 80px;
  }
  
}
@include xl{
  .card-box{
    width: 45% !important;
    width: auto;
  }
}
}